
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive table-responsive-data2">
                    <h3 class="title-5 m-b-35">Thống Kê</h3>
                    <div class="table-data__tool">
                            <h4 class="au-input au-input--xl" style="font-size:20px">Danh sách thống kê</h4>
                        <div class="table-data__tool-right">
                            <a href="" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Thêm thống kê
                            </a>
                        </div>
                    </div>
                    <div style="font-size:20px;font-weight:bold;">
                        <ul class="list-group">
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/RevenueForTheMonth">1. <span>Thống kê tổng doanh thu của tháng hiện tại.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/RevenueSelectTime">2. <span>Thống kê tổng doanh thu sản phẩm bất kỳ trong một khoảng thời gian được lựa chọn.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/IndexTop">3. <span>Top 3 khách hàng có hóa đơn cao nhất đã được hoàn thành và tổng số tiền hóa đơn lớn hơn 100 triệu vnd.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/RevenuePerEmployee">4. <span>Thống kê tổng doanh thu của một nhân viên bất kì vẫn đang làm việc tạo lên từ tiếp nhận đơn hàng trong tháng hiện tại.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/UnsoldProducts">5. <span>Thống kê những Sản phẩm không bán được trong một khoảng thời gian.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/IndexSellingProduct">6. <span>Sản phẩm bán chạy nhất trong tháng.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/UfQuantityOfManufacturer">7. <span>bảng tính số lượng sản phẩm theo từng thể loại.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/UspSortTotalPrice">8. <span>khách hàng tiêu nhiều tiền cho shop theo thứ tự giảm dần.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/ViewUsersEmployee">9. <span>hiển thị danh sách giao dịch khách hàng và nhân viên.</span></a></li>
                            <li class="list-group-item"><a style="color:darkslategray" href="https://localhost:44368/Revenues/viewuser">10. <span>Thống kê khách hàng mua nhiều nhất và mua nhiều tiền nhât trong tháng</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

